{% extends "base.html" %}

{% block content %}

<div class="row header">
    <h1>{{title}}</h1>
    <nav>
        <a href="#">關於我們</a>
        <a href="#">最新消息</a>
        <a href="#">產品</a>
        <a href="#">聯絡我們</a>
    </nav>
</div>

<div class="About">
    <div class="row">
        <div class="wrap col-4 col-xs-4 col-sm-6-4 col-md-4">
            <img src="http://fakeimg.pl/200x250">
            <h3>title</h3>
            <p>測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試</p>
        </div>
        <div class="wrap col-4 col-xs-4 col-sm-6-4 col-md-4">
            <img src="http://fakeimg.pl/200x250">
            <h3>title</h3>
            <p>測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試</p>
        </div>
        <div class="wrap col-4 col-xs-4 col-sm-6-4 col-md-4">
            <img src="http://fakeimg.pl/200x250">
            <h3>title</h3>
            <p>測試測試測試測試測試測試測試測試測試測試測試測試測試測試測試</p>
        </div>
    </div>
</div>


<div class="row">
    <div class="Background">
        <h1>oteetsesataetat</h1>
    </div>
</div>

<div class="area">
    <div class="layout">
        <div class="row">
            <div class="MainGraph col-6 col-xs-6 col-sm-6-6 col-md-6" url-endpoint='{% url "api-data" %}'>
                <div class="layout">
                    <button id ="linebtn" class="btn2" onclick="TransmuteLineChart()">-</button>
                    <canvas id="LineChart" width="300" height="300"></canvas>
                </div>
            </div>
            <div class="MainItro col-6">
                <div class="layout">
                    <h1>彼特幣趨勢線</h1>
                    <p>測試測試測試測試測試測試測試測試測試測試測試測試測試</p>
                    <p>測試測試測試測試測試測試測試測試測試測試測試測試測試</p>
                    <p>測試測試測試測試測試測試測試測試測試測試測試測試測試</p>
                    <p>測試測試測試測試測試測試測試測試測試測試測試測試測試</p>
                    <p>測試測試測試測試測試測試測試測試測試測試測試測試測試</p>
                    <p>測試測試測試測試測試測試測試測試測試測試測試測試測試</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="area">
    <div class="layout">
        <div class="row">
            <div class="MainGraph col-4 col-xs-4 col-sm-6-4 col-md-4" url-endpoint='{% url "api-data" %}'>
                <div class="layout">
                    <button id ="barbtn" class="btn2" onclick="TransmuteBarChart()">-</button>
                    <canvas id="BarChart" width="150" height="150"></canvas>
                </div>
            </div>
            <div class="MainItro col-8">
                <div class="layout">
                    <h1>彼特幣趨勢線</h1>
                    <p>測試測試測試測試測試測試測試測試測試測試測試測試測試</p>
                    <p>測試測試測試測試測試測試測試測試測試測試測試測試測試</p>
                    <p>測試測試測試測試測試測試測試測試測試測試測試測試測試</p>
                    <p>測試測試測試測試測試測試測試測試測試測試測試測試測試</p>
                    <p>測試測試測試測試測試測試測試測試測試測試測試測試測試</p>
                    <p>測試測試測試測試測試測試測試測試測試測試測試測試測試</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="area">
    <div class="layout">
        <div class="row">
            <div class="MainGraph col-4 col-xs-4 col-sm-6-4 col-md-4" url-endpoint='{% url "api-data" %}'>
                <div class="layout">
                    <button id ="polarAreabtn" class="btn2" onclick="TransmuteChart()">-</button>
                    <canvas id="PieChart" width="300" height="300"></canvas>
                </div>
            </div>
            <div class="MainItro col-8">
                <div class="layout">
                    <h1>彼特幣趨勢線</h1>
                    <p>測試測試測試測試測試測試測試測試測試測試測試測試測試</p>
                    <p>測試測試測試測試測試測試測試測試測試測試測試測試測試</p>
                    <p>測試測試測試測試測試測試測試測試測試測試測試測試測試</p>
                    <p>測試測試測試測試測試測試測試測試測試測試測試測試測試</p>
                    <p>測試測試測試測試測試測試測試測試測試測試測試測試測試</p>
                    <p>測試測試測試測試測試測試測試測試測試測試測試測試測試</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block jquery %}
    var ChartData = []
    var Chartlabels = []
    var ChartTitle = ""

    $.ajax({
        method:"GET",
        url:'api/Linechart/data',
        success:function(data){
            Chartlabels = data.labels[0]
            ChartData = data.item[0]
            ChartTitle = data.title
            SetLineChart(Chartlabels,ChartData,ChartTitle)

        },
        error:function(error_data){
            console.log("error")
            console.log(error_data)
        },

    })

    $.ajax({
        method:"GET",
        url:'api/Barchart/data',
        success:function(data){
            Chartlabels = data.labels
            ChartData = data.item
            ChartTitle = data.title


            SetBarChart(Chartlabels,ChartData,ChartTitle)

        },
        error:function(error_data){
            console.log("error")
            console.log(error_data)
        },

    })

    $.ajax({
        method:"GET",
        url:'api/PieData/data',
        success:function(data){
            Chartlabels = data.labels
            ChartData = data.item
            ChartTitle = data.title

            SetPieChart(Chartlabels,ChartData,ChartTitle)
        },
        error:function(error_data){
            console.log("error")
            console.log(error_data)
        },

    })

function SetBarChart(labels,data,title){
    var ctx = document.getElementById('BarChart').getContext('2d');
    var BarChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: title,
                data: data,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1,
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
}

function SetLineChart(labels,data,title){
    var ctx = document.getElementById('LineChart').getContext('2d');
    var LineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: ChartTitle,
                data: data,

                backgroundColor:'rgba(0, 0, 0, 0.4)'
            }]
        },
        options: {
            elements:{
                point:{
                    radius:0
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
        }
    });

}

function SetPieChart(labels,data,title){
    var ctx = document.getElementById('PieChart').getContext('2d');
    var PieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: labels,
            datasets: [{
                label: title,
                data: data,
                backgroundColor: [
                    'rgba(0, 0, 0, 0.4)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(0, 0, 0, 0.4)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],

            }]
        },

    });

}

function TransmuteLineChart(){

    var LineCanvas = document.getElementById('LineChart')

    LineCanvas.style.height = 100 + "px";
    LineCanvas.style.width = 100 + "px";

    var btnVal = document.getElementById("linebtn");

    if(btnVal.textContent=="-")
    {
        btnVal.textContent="+";
        btnVal.style.backgroundColor="white";
        LineCanvas.style.height = 40 + "%";
        LineCanvas.style.width =  40 + "%";
    }else{
        btnVal.textContent="-";
        btnVal.style.backgroundColor="rgba(191, 63, 191,0.3)";
        LineCanvas.style.height = 100 + "%";
        LineCanvas.style.width = 100 + "%";
    }

};

function TransmuteBarChart(){

    var BarCanvas = document.getElementById('BarChart')

    BarCanvas.style.height = 100 + "px";
    BarCanvas.style.width = 100 + "px";

    var btnVal = document.getElementById("barbtn");

    if(btnVal.textContent=="-")
    {
        btnVal.textContent="+";
        btnVal.style.backgroundColor="white";
        BarCanvas.style.height = 40 + "%";
        BarCanvas.style.width = 40 + "%";
    }else{
        btnVal.textContent="-";
        btnVal.style.backgroundColor="rgba(191, 63, 191,0.3)";
        BarCanvas.style.height = 100 + "%";
        BarCanvas.style.width = 100 + "%";
    }

};

function TransmuteChart(){

    var Canvas = document.getElementById("PieChart")
    console.log(Canvas)
    Canvas.style.height = 100 + "px";
    Canvas.style.width = 100 + "px";

    var btnVal = document.getElementById("polarAreabtn");

    if(btnVal.textContent=="-")
    {
        btnVal.textContent="+";
        btnVal.style.backgroundColor="white";
        Canvas.style.height = 40 + "%";
        Canvas.style.width = 40 + "%";
    }else{
        btnVal.textContent="-";
        btnVal.style.backgroundColor="rgba(191, 63, 191,0.3)";
        Canvas.style.height = 100 + "%";
        Canvas.style.width = 100 + "%";
    }

};


{% endblock %}

{% block script %}

{% endblock %}